extends layout

block content
  h1= title
  - var televisionList = results
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in televisionList  
        - let destination = `dispatch(\"/television/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.tele_name}(#{item.size}) is #{item.cost} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }