extends layout

block content
  h1= title
  - var televisionList = results
  div.container-fluid
    div.row
        each item, index in televisionList
            div.col-sm-2(onclick=`buy(${index})`) Television Name: #{item["tele_name"]} <br> Telivision Size: #{item["size"]} <br> Television Cost: #{item["cost"]}





  script.
    function buy(index) {
      alert("You purchased item "+ index)
    }
