extends layout 
 
block content 
  h1(class = 'container-fluid p-5 bg-info text-success text-center')= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let televisionid = toShow._id 
    - let tele_Name = toShow.tele_Name 
    - let size = toShow.size 
    - let cost = toShow.cost 
    - let actionid = "/resource/television/" + televisionid 
    
    script let actionid = "#{actionid}" 
    div(class="container text-center")
      div(class='justify-content-center p-2 text-center text-dark',style='background-color:#d0ff00')
        div.row 
          div(class='p-2 flex-fill televisionAttr mr-3') Television ID is: 
          div #{televisionid} 
        div.row 
          div(class='p-2 flex-fill televisionAttr mr-3') Television Type is: 
          div #{tele_Name} 
        div.row 
          div(class='p-2 flex-fill televisionAttr mr-3') Television Size is: 
          div #{size} 
        div.row 
          div(class='p-2 flex-fill televisionAttr mr-3') Television Cost is: 
          div #{cost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the television collection 
      window.location.href='/television' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/television' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 