extends layout 
 
block content 
  h1= title 
 
  - let telivisionid = toShow._id 
  - let televisionName = toShow.tele_name 
  - let televisionsize = toShow.size 
  - let televisioncost = toShow.cost 
  div 
    div.row 
      div(class='televisionAttr mr-3') Television ID is: 
      div #{telivisionid} 
    div.row 
      div(class='televisionAttr mr-3') Television Type is: 
      div #{televisionName} 
    div.row 
      div(class='televisionAttr mr-3') Television Size is: 
      div #{televisionsize} 
    div.row 
      div(class='televisionAttr mr-3') Television Cost is: 
      div #{televisioncost}